@import url('https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap');
/* Weights: 300, 400, 700 */

/* 
Mobile: 375px
Desktop: 1440px 
*/

:root {
    /* primary */
    --dark-blue: hsl(233, 26%, 24%);
    --lime-green: hsl(136, 65%, 51%);
    --bright-cyan: hsl(192, 70%, 51%);

    /* neutral */
    --grayish-blue: hsl(233, 8%, 62%);
    --light-grayish-blue: hsl(220, 16%, 96%);
    --very-light-Gray: hsl(0, 0%, 98%);
    --white: hsl(0, 0%, 100%);
  }

body {
    font-size: 18px;
    font-family: "Public Sans", sans-serif;
}

/* For mobile phones: */
@media screen and (max-width: 600px) {
    .header__ul, .header__a__invite, .header__menu__close {
      display: none;
    }

    header {
        position: relative;
        z-index: 3;
    }

    .banner__img__mockup {
        display: flex;
        justify-content: space-around;
        position: relative;
        z-index: 2;
    }
    
    .banner__img__mockup > img {
        position: absolute;
        top: -155px;
        width: 90%;
    }

    .banner__img__bg-mobile > img {
        position: absolute;
        top: -40px;
        width: 120%
    }
  }


header {
    background-color: var(--white);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 70px;
    align-items: center;
    padding: 25px;
}